*{
  margin: 0;
  padding: 0;
}
html {
  background: #ffffff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #555555;
  font-size: calc(100vw/37.5); /*width=device-width 也就是将viewport的宽度设置为理想视口的宽度。
                                网页缩放比例为100%时，一个CSS像素就对应一个分辨率像素(iphone6:375px)*/

}
ul {
  list-style: none
}
a{
  text-decoration: none;
  color: #555555;
}
.clearfix:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.borderTop:not(:first-child):after {
  content: " ";
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  transform: scaleY(.5);
  border-top: 1px solid #ddd;
}
.borderBottom:after {
  content: " ";
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(.5);
  border-top: 1px solid #ddd;
}
input {
  outline: none;
  border: none;
}